@import './GlobalTheme.module.scss';

.headerContainer {
	position: relative;
	padding: -100px;
	width: 100%;
	height: 100%;
}

.headerImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	object-fit: cover;
}

.courseInfo {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - $navbar-width);
	height: 100%;
	z-index: 1;
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.courseName {
	font-size: 2.5rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0;
}

.courseOwner {
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
}
