@import './GlobalTheme.module.scss';

.courseInfo {
	height: 25vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.courseImage {
	height: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.courseMetadata {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.courseDescription {
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	line-height: 1.2;
}

.courseStats {
	display: flex;
	align-items: center;
}

.courseStat {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	color: #fff;
	font-weight: 500;
}

.courseLastUpdated {
	display: flex;
	align-items: center;
}

.courseRating {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	color: $fav-1;
	font-weight: 700;
}
