.navbarContent {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbarLogo {
    width: 7rem;
    height: 80%;
    margin-right: 2rem;
    object-fit: contain;
}